page-currentuser {

    ion-content {
        ion-img {
            background: transparent;
            border: 2px solid gray;
            border-radius: 50%;
            img {
                    border-radius: 50%;
            }
        }
    }
}
