<!--
  Generated template for the Units page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Units</ion-title>
    </ion-navbar>

    <!-- BEGIN SEARCH BAR wrapped in a toolbar-->
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="searchText" (ionInput)="searchInput($event)" [showCancelButton]="true" (ionCancel)="searchCancel($event)"></ion-searchbar>
    </ion-toolbar>
    <!--END SEARCH BAR-->

</ion-header>

<ion-content>
    <!--BEGIN LIST OF ITEMS-->
    <ion-list  *ngIf="showContent()">
        <!--This is a single item, the *ngFor tells angular2 to repeat it for every element in the 'items' array in our class-->
        <ion-item *ngFor="let item of items" (click)="itemSelected(item)">
            <!--We use double curly braces {{}} to indicate we want to pull the value out of a variable-->
            {{ item.unit_code }}: {{ item.name }}
        </ion-item>
    </ion-list>
    <ion-card *ngIf="!showContent()">
        <ion-card-content>
            There are no units to show
        </ion-card-content>
    </ion-card>
    <!--END LIST OF ITEMS-->

</ion-content>
